html {
    font-size: 10px;
    height: 100%;
    width: 100%;
  }

  *{
      box-sizing: border-box;
      font-family: Helvetica;
  }

  a {
    color: inherit;
    text-decoration: none; /* no underline */
  }
  a:hover{
      color: blue;
      text-decoration: underline;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #pageWrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background:  #07689f;
}

#calculator{
    border: solid 2px black;
    margin: auto;
    width: 350px;
    height: 450px;
    background-color: #a2d5f2;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4)
}

#footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: medium;
}

#history{
    border: solid 1px black;
    background-color: floralwhite;
    height: 30%;
    padding: 4px;
    font-size: 16px;
    text-align: left;
    overflow: auto;
    margin: 2%; 
    vertical-align: bottom;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, minmax(1.8rem, 1em));
    grid-gap: 6px;
}

#active{
    display: grid;
    border: solid 1px black;
    background-color: floralwhite;
    height: 20%;
    padding: 4px;
    font-size: 16px;
    text-align: right;
    margin: 2%;
}
#display{
    padding: 4px;
    height: 2fr;
}

#holding{
    padding: 4px;
    border: solid 1px black;
    background-color: lightgrey;
    height: 25px;
    text-align: left;
}

#buttons{
    height: 45%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button{
    background: none;
    width: 100%;
    height: 100%;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button{
    display: grid;
    border: solid 1px black;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}


.button:active {
    box-shadow: 0 5px #6666;
    transform: translateY(2px);
  }

.operator, .AC, .equals, .del{
    background-color: #ff7e67;
}

.integer, .decimal{
    background: #fafafa;
}

.button:hover{
    border: solid 1px white;
}

.del{
    grid-column: 1/2;
}

.multiply{
    grid-column: 2/3;
}

.divide{
    grid-column: 3/4;
}

.AC{
    grid-column: 4/5;
}

.minus{
    grid-row: 2/3;
    grid-column: 4/5;
}

.add{
    grid-row: 3/4;
    grid-column: 4/5;
}

.equals{
    grid-row: 4/6;
    grid-column: 4/5;
}

.zero{
    grid-row: 5/6;
    grid-column: 1/3;
}